body{
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.flex-row{
    display: flex;
    flex-direction: row-reverse;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.center{
    justify-content: center;
    align-items: center;
}
.float{
    position: absolute;
}
.invisible{
    visibility: hidden;
}
.card{
    padding: 16px;
    border-radius: 16px;
    background-color: #2b2b2b;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.mb{
    margin-bottom: 16px;
}
.pad{
    padding: 8px;
}
.send{
    border-radius: 4px;
    border: none;
    font-size: 16px;
}